#Acomodacoes p,
#Acomodacoes span,
#Acomodacoes a,
#Acomodacoes div,
#Acomodacoes li,
#Acomodacoes ul,
#Acomodacoes input,
#Acomodacoes button {
  font-family: 'Montserrat', sans-serif !important;
}
#Acomodacoes .header-navbar-boomerang2 .navbar2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: #013e88;
  border: none;
}
#Acomodacoes .navbar2 {
  padding: 0 !important;
}
#Acomodacoes .affix {
  position: fixed !important;
}
#Acomodacoes .header-navbar-boomerang2 > .navbar2.affix2 {
  background: #013e88;
  position: fixed;
  transition: all linear 0.25s;
}
#Acomodacoes .header-navbar-boomerang2 .navbar2 {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #00a859 !important;
  border: none;
}
#Acomodacoes .room-list-item .room-heading .bed-icon {
  float: left;
  font-size: 24px;
  background: #00A859;
}
#Acomodacoes .room-list-item .room-heading {
  margin-bottom: 10px;
  border-bottom: 1px solid #00A859;
  height: 50px;
}
#Acomodacoes .room-list-item .room-heading .bed-icon i {
  padding: 8px 13px;
  display: inline-block;
}
#Acomodacoes .box-banner {
  height: 60px;
}
#Acomodacoes .img-banner {
  width: 100%;
  height: 80px;
}
#Acomodacoes container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #Acomodacoes .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #Acomodacoes .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #Acomodacoes .container {
    width: 1170px;
  }
}
#Acomodacoes .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#Acomodacoes .row {
  margin-left: -15px;
  margin-right: -15px;
}
#Acomodacoes p,
#Acomodacoes span,
#Acomodacoes a,
#Acomodacoes div,
#Acomodacoes li,
#Acomodacoes ul,
#Acomodacoes input,
#Acomodacoes button {
  font-family: 'Montserrat', sans-serif !important;
}
#Acomodacoes article,
#Acomodacoes aside,
#Acomodacoes details,
#Acomodacoes figcaption,
#Acomodacoes figure,
#Acomodacoes footer,
#Acomodacoes header,
#Acomodacoes hgroup,
#Acomodacoes main,
#Acomodacoes menu,
#Acomodacoes nav,
#Acomodacoes section,
#Acomodacoes summary {
  display: block;
}
#Acomodacoes .section-wrap section {
  clear: both;
}
#Acomodacoes .custom-section-5d6d234eacb694252cf5297f {
  padding-top: 80px;
  padding-bottom: 0px;
}
#Acomodacoes .col-md-12 {
  width: 100%;
}
#Acomodacoes .widget {
  margin-bottom: 30px;
}
#Acomodacoes .room-list-item {
  min-height: 200px;
}
#Acomodacoes .m-b-md {
  margin-bottom: 20px;
}
#Acomodacoes .room-list-item .room-heading {
  margin-bottom: 10px;
  border-bottom: 1px solid #00A859;
  height: 50px;
}
#Acomodacoes .room-list-item .room-heading .bed-icon {
  float: left;
  font-size: 24px;
  background: #00A859;
}
#Acomodacoes .room-list-item .room-heading .bed-icon i {
  padding: 8px 13px;
  display: inline-block;
}
#Acomodacoes .room-list-item .room-heading .bed-icon i::before {
  color: #fff !important;
}
#Acomodacoes .i-bed::before {
  content: "\e000";
}
#Acomodacoes [class^="i-"]::before,
#Acomodacoes [class*=" i-"]::before {
  font-family: "skin-one" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#Acomodacoes .room-list-item .room-heading h2 {
  font-weight: 500;
}
#Acomodacoes .room-list-item .room-heading h2 {
  line-height: 50px;
  padding-left: 15px;
  float: left;
  margin: 0;
  font-family: font-highlite;
}
#Acomodacoes h2 {
  font-size: 35px !important;
  color: #606062;
}
#Acomodacoes .room-list-item .room-heading .max-occupancy {
  height: 50px;
  padding-top: 17px;
  padding-left: 15px;
  float: left;
}
#Acomodacoes .room-list-item .room-heading .i-user {
  float: left;
  font-size: 20px;
}
#Acomodacoes .clearfix::before,
#Acomodacoes .clearfix::after,
#Acomodacoes .dl-horizontal dd::before,
#Acomodacoes .dl-horizontal dd::after,
#Acomodacoes .container::before,
#Acomodacoes .container::after,
#Acomodacoes .container-fluid::before,
#Acomodacoes .container-fluid::after,
#Acomodacoes .row::before,
#Acomodacoes .row::after,
#Acomodacoes .form-horizontal .form-group::before,
#Acomodacoes .form-horizontal .form-group::after,
#Acomodacoes .btn-toolbar::before,
#Acomodacoes .btn-toolbar::after,
#Acomodacoes .btn-group-vertical > .btn-group::before,
#Acomodacoes .btn-group-vertical > .btn-group::after,
#Acomodacoes .nav::before,
#Acomodacoes .nav::after,
#Acomodacoes .navbar::before,
#Acomodacoes .navbar::after,
#Acomodacoes .navbar-header::before,
#Acomodacoes .navbar-header::after,
#Acomodacoes .navbar-collapse::before,
#Acomodacoes .navbar-collapse::after,
#Acomodacoes .pager::before,
#Acomodacoes .pager::after {
  content: " ";
  display: table;
}
#Acomodacoes .room-list-item .room-body .img-holder {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  height: 200px;
}
#Acomodacoes .room-list-item .room-body .img-holder {
  height: 310px !important;
}
#Acomodacoes .room-list-item .room-body a {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  z-index: 0;
}
#Acomodacoes .fancybox .overlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#Acomodacoes .fancybox .overlay i {
  font-size: 25px;
  color: white;
}
#Acomodacoes .i-search::before {
  content: "\e03b";
}
#Acomodacoes .room-list-item .room-body .description {
  margin-bottom: 10px;
}
#Acomodacoes .room-list-item .room-body .description > :last-child {
  padding-bottom: 10px;
}
#Acomodacoes ul,
#Acomodacoes ol {
  margin-top: 0;
  margin-bottom: 10px;
}
#Acomodacoes .btn {
  background: #00A859;
  color: #fff;
  border: 1px solid;
  border-radius: 0;
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.2);
}
#Acomodacoes .btn {
  text-transform: uppercase;
}
#Acomodacoes .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}