
#Acomodacoes {

    .avia-full-stretch {
        background-size: cover !important;
    }

    .avia-section {
        clear: both;
        width: 100%;
        float: left;
        min-height: 100px;
        position: static;
    }

    div .av-section-color-overlay-wrap {
        position: relative;
        width: 100%;
    }

    div .av-section-color-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .avia-section.av-minimum-height .container {
        opacity: 1;
    }

    .avia-section.av-minimum-height .container {
        display: table;
        table-layout: fixed;
    }

    .av-minimum-height-50 .container, .av-cell-min-height-50 > .flex_cell {
        height: 464px;
    }

    #top #main .avia-section .template-page {
        width: 100%;
        border: none;
        margin-left: auto;
        padding-left: 0;
        margin-right: auto;
    }

    .avia-section.av-minimum-height .container .content {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        float: none !important;
    }

    .container .av-content-full.units {
        width: 100%;
    }

    .avia-section .template-page .entry-content-wrapper {
        padding-right: 0;
    }

    .fullsize .content .entry-content-wrapper {
        padding-right: 0;
    }

    .clearfix::before, .clearfix::after, .flex_column::before, .flex_column::after, .widget::before, .widget::after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    #top .av_inherit_color * {
        color: inherit;
    }

    .main_color blockquote, .main_color .avia-bullet, .main_color .av-no-color.av-icon-style-border a.av-icon-char {
        border-color: #af7b8f;
    }

    .template-page .entry-content-wrapper h1, .template-page .entry-content-wrapper h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    #top #main .avia-section .template-page {
        width: 100%;
        border: none;
        margin-left: auto;
        padding-left: 0;
        margin-right: auto;
    }

    .avia-section .template-page .entry-content-wrapper {
        padding-right: 0;
    }

    .clearfix::before, .clearfix::after, .flex_column::before, .flex_column::after, .widget::before, .widget::after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    #top .hr-invisible, .hr-invisible .hr-inner {
        margin: 0;
        border: none;
    }

    #top .flex_column_table.av-equal-height-column-flextable:not(:first-child) {
        margin-top: 50px;
    }

    #top .flex_column_table {
        display: table;
        table-layout: fixed;
        width: 100%;
        float: left;
    }

    #top .no_margin.av_two_fifth {
        width: 40%;
    }

    #top .flex_column_table_cell {
        float: none;
        display: table-cell;
    }

    .clearfix::before, .clearfix::after, .flex_column::before, .flex_column::after, .widget::before, .widget::after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    #top .avia-slideshow-arrows a {
        display: block;
        text-decoration: none;
        color: #fff;
        visibility: visible;
        position: absolute;
        width: 60px;
        text-align: center;
        height: 60px;
        line-height: 62px;
        font-size: 25px;
        top: 50%;
        margin: -30px 15px 0;
        z-index: 99;
        overflow: hidden;
        text-indent: -600%;
    }

    .av-horizontal-gallery .avia-slideshow-controls a {
        opacity: 0;
    }

    .avia-slideshow-arrows a::before {
        visibility: visible;
        display: block;
        position: absolute;
        z-index: 100;
        background: #aaa;
        background: rgba(0,0,0,.3);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 3px;
        text-align: center;
        line-height: 62px;
        color: inherit;
    }

    #top .avia-slideshow-arrows a {
        display: block;
        text-decoration: none;
        color: #fff;
        visibility: visible;
        position: absolute;
        width: 60px;
        text-align: center;
        height: 60px;
        line-height: 62px;
        font-size: 25px;
        top: 50%;
        margin: -30px 15px 0;
        z-index: 99;
        overflow: hidden;
        text-indent: -600%;
    }

    #top .avia-slideshow-arrows a.next-slide {
        right: 0;
    }

    .avia-slideshow-arrows a::before {
        visibility: visible;
        display: block;
        position: absolute;
        z-index: 100;
        background: #aaa;
        background: rgba(0,0,0,.3);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 3px;
        text-align: center;
        line-height: 62px;
        color: inherit;
    }

    .av-horizontal-gallery-large-gap .av-horizontal-gallery-wrap {
        margin-right: 15px;
    }

    .av-horizontal-gallery-wrap:first-child {
        transform-origin: 0% 50%;
    }

    .av-horizontal-gallery-animated .av-horizontal-gallery-wrap {
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    #top .no_margin.av_three_fifth {
        width: 60%;
    }

    .clearfix::before, .clearfix::after, .flex_column::before, .flex_column::after, .widget::before, .widget::after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    body .container_wrap .avia-builder-el-first {
        margin-top: 0;
    }

    body .av-special-heading.modern-centered {
        text-align: center;
    }

    body .av-special-heading.blockquote > * {
        white-space: normal;
        float: none;
    }

    body .av-special-heading .av-special-heading-tag {
        padding: 0;
        margin: 0;
        float: left;
    }

    .av-thin-font .av-special-heading-tag, .modern-quote .av-special-heading-tag {
        font-weight: 300;
    }

    body .av-special-heading.blockquote .special-heading-border {
        display: none;
    }

    body .av-special-heading.blockquote > * {
        white-space: normal;
        float: none;
    }

    .main_color .special-heading-inner-border {
        border-color: #000;
    }

    .hr-custom.hr-center {
        text-align: center;
    }

    .hr-custom .hr-inner.inner-border-av-border-fat {
        border-top-width: 2px;
    }

    .hr-custom .hr-inner {
        display: inline-block;
        position: relative;
        vertical-align: middle;
    }

    body .container_wrap .avia-builder-el-last {
        margin-bottom: 0;
    }

    ul {
        list-style: disc outside;
    }

    .entry-content-wrapper div li {
        text-indent: 0;
    }

    .avia-icongrid li .avia-icongrid-wrapper {
        position: relative;
        display: block;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .avia-icongrid-tooltip li article::before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .avia-icongrid-tooltip li .avia-icongrid-front {
        position: absolute;
        width: 100%;
        height: auto;
        padding: 2em;
        bottom: 50%;
        top: auto;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .avia-icongrid li .avia-icongrid-front {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #top .avia-font-flaticon, body .avia-font-flaticon, html body [data-av_iconfont="flaticon"]::before {
        font-family: 'flaticon';
    }

    [data-av_icon]::before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        content: attr(data-av_icon);
        speak: none;
    }

    h1, h2, h3, h4, h5, h6, #top .title_container .main-title, tr.pricing-row td, #top .portfolio-title, .callout .content-area, .avia-big-box .avia-innerbox, .av-special-font, .av-current-sort-title, .html_elegant-blog #top .minor-meta, #av-burger-menu-ul li {
        font-family: 'lato','HelveticaNeue','Helvetica Neue','Helvetica-Neue',Helvetica,Arial,sans-serif;
    }
}
