
@{
    ViewBag.Title = "Acomodacoes_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="Acomodacoes">

    <div class="section-wrap">

        <style>
            .custom-section-5d6d234eacb694252cf5297f {
                padding-top: 80px;
                padding-bottom: 0px;
            }
        </style>
        <section class="custom-section-5d6d234eacb694252cf5297f">
            <div class="box-banner">
                <div class="img-banner">
                    <div>

                    </div>
                </div>
            </div>
        </section>
        <style>
            .custom-section-5f61526bacb69422a8bc7d75 {
                background-color: #f7f7f7;
                padding: 115px;
            }
        </style>
        <div class="header-navbar-boomerang2">
            <div class="navbar2 affix2">

                <section class="custom-section-5f61526bacb69422a8bc7d75 " id="section-5f61526bacb69422a8bc7d75">

                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="content-heading text-center">


                                            <h2>Nossas Acomodações</h2>
                                            <h5>POUSADA BEIRA MAR | SÃO PAULO</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--Widgets Right SideBar-->

                        </div>
                    </div>
                </section>
            </div>

        </div>
        <style>
            .custom-section-5f615306acb69422a8bc7d77 {
                background-color: #f7f7f7;
                padding-top: 0px;
                padding-bottom: 10px;
            }
        </style>
        <section class="custom-section-5f615306acb69422a8bc7d77 " id="section-5f615306acb69422a8bc7d77">
            <div class="container ">
                <div class="row">

                </div>
            </div>
        </section>
        <section class="custom-section-5d6d234eacb694252cf5297f " id="section-5d6d234eacb694252cf5297f">
            <div class="container ">
                <div class="row">

                    <div class="col-md-12">
                        <div class="row">

                            <style>
                                .room-list-item .room-body figure {
                                    height: 300px !important;
                                }

                                .room-list-item .room-body .img-holder {
                                    height: 310px !important;
                                }
                            </style>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="widget">
                                            <div class="room-list-item m-b-md">
                                                <div class="room-heading">
                                                    <div class="bed-icon">
                                                        <i class="i-bed"></i>
                                                    </div>
                                                    <h2>SUÍTE STANDARD</h2>
                                                    <div class="max-occupancy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ocupação Maxima">
                                                        <i class="i-user"></i>
                                                        <i class="i-user"></i>
                                                    </div>
                                                </div>
                                                <div class="room-body">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="img-holder">
                                                                <div class="fade-photos">
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52987" title="SUÍTE STANDARD" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a12216c3796049ba847a21b1b9b8c2ae.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a12216c3796049ba847a21b1b9b8c2ae.jpg')" style="background-image: url(https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a12216c3796049ba847a21b1b9b8c2ae.jpg);" data-was-processed="true">
                                                                            <img  src="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a12216c3796049ba847a21b1b9b8c2ae.jpg" />
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 description">
                                                            <ul>
                                                                <li>Ar-condicionado</li>
                                                                <li>Banheiro privativo</li>
                                                                <li>Secador de cabelo</li>
                                                                <li>Frigobar</li>
                                                                <li>Cofre</li>
                                                                <li>Wi-Fi</li>
                                                                <li>TV</li>
                                                                <li>Amenities para banho</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="room-buttons">

                                                    <a target="_blank" href="https://hbook.hsystem.com.br/booking?companyId=5d51ec6eab41d419d4afad7e&amp;utm_source=website&amp;utm_medium=book-button&amp;utm_campaign=website" class="btn">Reservar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="widget">
                                            <div class="room-list-item m-b-md">
                                                <div class="room-heading">
                                                    <div class="bed-icon">
                                                        <i class="i-bed"></i>
                                                    </div>
                                                    <h2>SUÍTE STANDARD COM VARANDA</h2>
                                                    <div class="max-occupancy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ocupação Maxima">
                                                        <i class="i-user"></i>
                                                        <i class="i-user"></i>
                                                    </div>
                                                </div>
                                                <div class="room-body">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="img-holder">
                                                                <div class="fade-photos">
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52988" title="SUÍTE STANDARD COM VARANDA" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/3dc6d7a6abdb4b8193042aa24c37451f.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/3dc6d7a6abdb4b8193042aa24c37451f.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/3dc6d7a6abdb4b8193042aa24c37451f.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52988" title="SUÍTE STANDARD COM VARANDA" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/37442e213b284e789f2f7063e3ac3c94.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/37442e213b284e789f2f7063e3ac3c94.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/37442e213b284e789f2f7063e3ac3c94.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52988" title="SUÍTE STANDARD COM VARANDA" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/6994893777934affbac98419bfa00cc2.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/6994893777934affbac98419bfa00cc2.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/6994893777934affbac98419bfa00cc2.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox show" rel="5d6d234eacb694252cf52988" title="SUÍTE STANDARD COM VARANDA" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/02243d09d5444367a4212dfdb49f1b43.jpg" style="opacity: 1;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/02243d09d5444367a4212dfdb49f1b43.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/02243d09d5444367a4212dfdb49f1b43.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52988" title="SUÍTE STANDARD COM VARANDA" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/3b6aebaa13f840a0935845e4487c57d4.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/3b6aebaa13f840a0935845e4487c57d4.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/3b6aebaa13f840a0935845e4487c57d4.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52988" title="SUÍTE STANDARD COM VARANDA" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/ca6140fcb59443a6a2be6ad85b986115.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/ca6140fcb59443a6a2be6ad85b986115.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/ca6140fcb59443a6a2be6ad85b986115.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52988" title="SUÍTE STANDARD COM VARANDA" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a1e43929bbb8459f961b76a89cb304b4.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a1e43929bbb8459f961b76a89cb304b4.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a1e43929bbb8459f961b76a89cb304b4.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52988" title="SUÍTE STANDARD COM VARANDA" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a4154ccdf31e4673adfaba406d4a2f29.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a4154ccdf31e4673adfaba406d4a2f29.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a4154ccdf31e4673adfaba406d4a2f29.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52988" title="SUÍTE STANDARD COM VARANDA" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/fafcb857e79e4e6d81c2126f35e100c0.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/fafcb857e79e4e6d81c2126f35e100c0.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/fafcb857e79e4e6d81c2126f35e100c0.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52988" title="SUÍTE STANDARD COM VARANDA" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/ba6b07c73947489b8337b4068754b218.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/ba6b07c73947489b8337b4068754b218.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/ba6b07c73947489b8337b4068754b218.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 description">
                                                            <ul>
                                                                <li>Varanda</li>
                                                                <li>Ar-condicionado</li>
                                                                <li>Banheiro privativo</li>
                                                                <li>Secador de cabelo</li>
                                                                <li>Frigobar</li>
                                                                <li>Cofre</li>
                                                                <li>Wi-Fi</li>
                                                                <li>TV</li>
                                                                <li>Amenities para banho</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="room-buttons">

                                                    <a target="_blank" href="https://hbook.hsystem.com.br/booking?companyId=5d51ec6eab41d419d4afad7e&amp;utm_source=website&amp;utm_medium=book-button&amp;utm_campaign=website" class="btn">Reservar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="widget">
                                            <div class="room-list-item m-b-md">
                                                <div class="room-heading">
                                                    <div class="bed-icon">
                                                        <i class="i-bed"></i>
                                                    </div>
                                                    <h2>SUÍTE LUXO</h2>
                                                    <div class="max-occupancy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ocupação Maxima">
                                                        <i class="i-user"></i>
                                                        <i class="i-user"></i>
                                                        <i class="i-user"></i>
                                                        <i class="i-user"></i>
                                                    </div>
                                                </div>
                                                <div class="room-body">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="img-holder">
                                                                <div class="fade-photos">
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52989" title="SUÍTE LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/af33788b21404ab8aa8bf8b8c8a51ca3.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/af33788b21404ab8aa8bf8b8c8a51ca3.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/af33788b21404ab8aa8bf8b8c8a51ca3.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52989" title="SUÍTE LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/1b316f78637840e89c99599dda3bc30b.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/1b316f78637840e89c99599dda3bc30b.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/1b316f78637840e89c99599dda3bc30b.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52989" title="SUÍTE LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/7c8bfab2b8b24fe6ae6f487cae59709a.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/7c8bfab2b8b24fe6ae6f487cae59709a.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/7c8bfab2b8b24fe6ae6f487cae59709a.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52989" title="SUÍTE LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/b4eb4a31c62743b991fa1a29ac801bdf.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/b4eb4a31c62743b991fa1a29ac801bdf.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/b4eb4a31c62743b991fa1a29ac801bdf.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52989" title="SUÍTE LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/4223ece4fc0946d9a73bae50f9578dae.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/4223ece4fc0946d9a73bae50f9578dae.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/4223ece4fc0946d9a73bae50f9578dae.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox show" rel="5d6d234eacb694252cf52989" title="SUÍTE LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/3758fb10575e445c90eee3d83b6b7c97.jpg" style="opacity: 1;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/3758fb10575e445c90eee3d83b6b7c97.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/3758fb10575e445c90eee3d83b6b7c97.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52989" title="SUÍTE LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/5e78c72e75b34cb5b2c2f18b92e575a9.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/5e78c72e75b34cb5b2c2f18b92e575a9.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/5e78c72e75b34cb5b2c2f18b92e575a9.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6d234eacb694252cf52989" title="SUÍTE LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/d6ccb702295f4e08800e8f5895cc9e62.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/d6ccb702295f4e08800e8f5895cc9e62.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/d6ccb702295f4e08800e8f5895cc9e62.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 description">
                                                            <ul>
                                                                <li>Varanda</li>
                                                                <li>Ar-condicionado</li>
                                                                <li>Banheiro privativo</li>
                                                                <li>Secador de cabelo</li>
                                                                <li>Frigobar</li>
                                                                <li>Cofre</li>
                                                                <li>Wi-Fi</li>
                                                                <li>TV</li>
                                                                <li>Amenities para banho</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="room-buttons">

                                                    <a target="_blank" href="https://hbook.hsystem.com.br/booking?companyId=5d51ec6eab41d419d4afad7e&amp;utm_source=website&amp;utm_medium=book-button&amp;utm_campaign=website" class="btn">Reservar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="widget">
                                            <div class="room-list-item m-b-md">
                                                <div class="room-heading">
                                                    <div class="bed-icon">
                                                        <i class="i-bed"></i>
                                                    </div>
                                                    <h2>SUÍTE SUPER LUXO</h2>
                                                    <div class="max-occupancy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ocupação Maxima">
                                                        <i class="i-user"></i>
                                                        <i class="i-user"></i>
                                                        <i class="i-user"></i>
                                                        <i class="i-user"></i>
                                                    </div>
                                                </div>
                                                <div class="room-body">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="img-holder">
                                                                <div class="fade-photos">
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/f77f5b52283b4eea863ac85e8fb21c68.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/f77f5b52283b4eea863ac85e8fb21c68.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/f77f5b52283b4eea863ac85e8fb21c68.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/651d86d279a64c51b40ffb419efa28a7.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/651d86d279a64c51b40ffb419efa28a7.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/651d86d279a64c51b40ffb419efa28a7.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/1d37e331320549b398a0f478a4b32882.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/1d37e331320549b398a0f478a4b32882.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/1d37e331320549b398a0f478a4b32882.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/73e77091f00a407aab7134660ad29c02.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/73e77091f00a407aab7134660ad29c02.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/73e77091f00a407aab7134660ad29c02.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/cbf99b667a1e45e3bb03a8d8d3cd892b.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/cbf99b667a1e45e3bb03a8d8d3cd892b.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/cbf99b667a1e45e3bb03a8d8d3cd892b.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/1fb4084f9d0d4eb8b952daff7d72715c.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/1fb4084f9d0d4eb8b952daff7d72715c.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/1fb4084f9d0d4eb8b952daff7d72715c.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/4bca84a86c804f658ce95559603e5f26.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/4bca84a86c804f658ce95559603e5f26.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/4bca84a86c804f658ce95559603e5f26.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/4424a021b890493b863fdcf3a08d3fb1.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/4424a021b890493b863fdcf3a08d3fb1.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/4424a021b890493b863fdcf3a08d3fb1.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/d1f66743eee34707b2cf7a1e803e993f.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/d1f66743eee34707b2cf7a1e803e993f.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/d1f66743eee34707b2cf7a1e803e993f.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/e562e0f4bf224cb8af862275d46e1330.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/e562e0f4bf224cb8af862275d46e1330.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/e562e0f4bf224cb8af862275d46e1330.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/55aba560b43d4a44b5f5b614e5f7425f.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/55aba560b43d4a44b5f5b614e5f7425f.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/55aba560b43d4a44b5f5b614e5f7425f.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/9ae3a932b46e4e008005bfcc85ede636.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/9ae3a932b46e4e008005bfcc85ede636.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/9ae3a932b46e4e008005bfcc85ede636.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/f222698e7e664194beb2e08a9dbac822.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/f222698e7e664194beb2e08a9dbac822.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/f222698e7e664194beb2e08a9dbac822.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox show" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/89fbd16e527247a9afdf9797b6e15de8.jpg" style="opacity: 1;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/89fbd16e527247a9afdf9797b6e15de8.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/89fbd16e527247a9afdf9797b6e15de8.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                    <a class="fancybox" rel="5d6ea010acb69481c87f4149" title="SUÍTE SUPER LUXO" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/c1d28d416561459b9d6aa1812fee4bed.jpg" style="opacity: 0;">
                                                                        <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/c1d28d416561459b9d6aa1812fee4bed.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/c1d28d416561459b9d6aa1812fee4bed.jpg&quot;);" data-was-processed="true">
                                                                            <span class="overlay">
                                                                                <i class="i-search"></i>
                                                                            </span>
                                                                        </figure>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 description">
                                                            <ul>
                                                                <li>Varanda</li>
                                                                <li>Ar-condicionado</li>
                                                                <li>Banheiro privativo</li>
                                                                <li>Banheira de hidromassagem dupla</li>
                                                                <li>Secador de cabelo</li>
                                                                <li>Frigobar</li>
                                                                <li>Cofre</li>
                                                                <li>Wi-Fi</li>
                                                                <li>TV</li>
                                                                <li>Amenities para banho</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="room-buttons">

                                                    <a target="_blank" href="https://hbook.hsystem.com.br/booking?companyId=5d51ec6eab41d419d4afad7e&amp;utm_source=website&amp;utm_medium=book-button&amp;utm_campaign=website" class="btn">Reservar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

