
@{
    ViewBag.Title = "Acomodacoes_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="Acomodacoes">
   
    <div id="sectionAcomodacoes" class="bannerAcomodacoes" style="background-repeat: no-repeat; background-image: url(~/Images/Banner/quarto.jfif); background-attachment: fixed; background-position: center center;  ">
        <div class="av-section-color-overlay-wrap">
            <div class="av-section-color-overlay" style="opacity: 0.5; background-color: #0a0a0a; "></div>
            <div class="container">
                <main class="template-page content  av-content-full alpha units" role="main" itemprop="mainContentOfPage">
                    <div class="post-entry post-entry-type-page post-entry-58">
                        <div class="entry-content-wrapper clearfix">
                            <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div class="avia_textblock  av_inherit_color" style="color:#ffffff; " itemprop="text">
                                    <blockquote>
                                        <h1>ACOMODAÇÕES</h1>
                                    </blockquote>
                                </div>
                            </section>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

    <section class="custom-section-5d6d234eacb694252cf5297f " id="section-5d6d234eacb694252cf5297f">
        <div class="container ">
            <div class="row">

                <!--Widgets Left SideBar-->
                <!--Widgets Body-->
                <div class="col-md-12">
                    <div class="row">

                        <style>
                            .room-list-item .room-body figure {
                                height: 300px !important;
                            }

                            .room-list-item .room-body .img-holder {
                                height: 310px !important;
                            }
                        </style>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="widget">
                                        <div class="room-list-item m-b-md">
                                            <div class="room-heading">
                                                <div class="bed-icon">
                                                    <i class="i-bed"></i>
                                                </div>
                                                <h2>SUÍTE STANDARD</h2>
                                                <div class="max-occupancy" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ocupação Maxima">
                                                    <i class="i-user"></i>
                                                    <i class="i-user"></i>
                                                </div>
                                            </div>
                                            <div class="room-body">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="img-holder">
                                                            <div class="fade-photos">
                                                                <a class="fancybox" rel="5d6d234eacb694252cf52987" title="SUÍTE STANDARD" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a12216c3796049ba847a21b1b9b8c2ae.jpg" style="opacity: 0;">
                                                                    <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a12216c3796049ba847a21b1b9b8c2ae.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/a12216c3796049ba847a21b1b9b8c2ae.jpg&quot;);" data-was-processed="true">
                                                                        <span class="overlay">
                                                                            <i class="i-search"></i>
                                                                        </span>
                                                                    </figure>
                                                                </a>
                                                                <a class="fancybox" rel="5d6d234eacb694252cf52987" title="SUÍTE STANDARD" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/5bb63c855d304dfdb44212357ac27306.jpg" style="opacity: 0;">
                                                                    <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/5bb63c855d304dfdb44212357ac27306.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/5bb63c855d304dfdb44212357ac27306.jpg&quot;);" data-was-processed="true">
                                                                        <span class="overlay">
                                                                            <i class="i-search"></i>
                                                                        </span>
                                                                    </figure>
                                                                </a>
                                                                <a class="fancybox" rel="5d6d234eacb694252cf52987" title="SUÍTE STANDARD" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/801e1b704fcf4f0a9550ec91303e7edb.jpg" style="opacity: 0;">
                                                                    <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/801e1b704fcf4f0a9550ec91303e7edb.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/801e1b704fcf4f0a9550ec91303e7edb.jpg&quot;);" data-was-processed="true">
                                                                        <span class="overlay">
                                                                            <i class="i-search"></i>
                                                                        </span>
                                                                    </figure>
                                                                </a>
                                                                <a class="fancybox" rel="5d6d234eacb694252cf52987" title="SUÍTE STANDARD" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/b0c8f0ce88d2462e968510c66f60554b.jpg" style="opacity: 0;">
                                                                    <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/b0c8f0ce88d2462e968510c66f60554b.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/b0c8f0ce88d2462e968510c66f60554b.jpg&quot;);" data-was-processed="true">
                                                                        <span class="overlay">
                                                                            <i class="i-search"></i>
                                                                        </span>
                                                                    </figure>
                                                                </a>
                                                                <a class="fancybox" rel="5d6d234eacb694252cf52987" title="SUÍTE STANDARD" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/884ce7f3cae443b787d0dae630d29417.jpg" style="opacity: 0;">
                                                                    <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/884ce7f3cae443b787d0dae630d29417.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/884ce7f3cae443b787d0dae630d29417.jpg&quot;);" data-was-processed="true">
                                                                        <span class="overlay">
                                                                            <i class="i-search"></i>
                                                                        </span>
                                                                    </figure>
                                                                </a>
                                                                <a class="fancybox show" rel="5d6d234eacb694252cf52987" title="SUÍTE STANDARD" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/ba629830d123405ca9a265332fa5a730.jpg" style="opacity: 1;">
                                                                    <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/ba629830d123405ca9a265332fa5a730.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/ba629830d123405ca9a265332fa5a730.jpg&quot;);" data-was-processed="true">
                                                                        <span class="overlay">
                                                                            <i class="i-search"></i>
                                                                        </span>
                                                                    </figure>
                                                                </a>
                                                                <a class="fancybox" rel="5d6d234eacb694252cf52987" title="SUÍTE STANDARD" href="https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/11bff5c734d34d0d862d66ee996970e3.jpg" style="opacity: 0;">
                                                                    <figure class="figure bg-center-cover frame lazyload" data-bg="url('https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/11bff5c734d34d0d862d66ee996970e3.jpg')" style="background-image: url(&quot;https://hweb-upload.s3-sa-east-1.amazonaws.com/5d6d234eacb694252cf5298d/11bff5c734d34d0d862d66ee996970e3.jpg&quot;);" data-was-processed="true">
                                                                        <span class="overlay">
                                                                            <i class="i-search"></i>
                                                                        </span>
                                                                    </figure>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 description">
                                                        <ul>
                                                            <li>Ar-condicionado</li>
                                                            <li>Banheiro privativo</li>
                                                            <li>Secador de cabelo</li>
                                                            <li>Frigobar</li>
                                                            <li>Cofre</li>
                                                            <li>Wi-Fi</li>
                                                            <li>TV</li>
                                                            <li>Amenities para banho</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="room-buttons">

                                                <a target="_blank" href="https://hbook.hsystem.com.br/booking?companyId=5d51ec6eab41d419d4afad7e&amp;utm_source=website&amp;utm_medium=book-button&amp;utm_campaign=website" class="btn">Reservar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

